In [1]:
import os
import random 

import pandas as pd 
import numpy as np 
from scipy.stats import kurtosis, skew 
from scipy import stats

import matplotlib.pyplot as plt 
import seaborn as sns
# Importing librarys to use on interactive graphs
import plotly.offline as plty
from plotly import tools
import plotly.express as px
import time
from plotly.offline import init_notebook_mode, iplot, plot 
import plotly.graph_objs as go 
from sklearn import model_selection, preprocessing, metrics
import lightgbm as lgb
import json # to convert json in df
from pandas import json_normalize # to normalize the json file
from datetime import datetime
from sklearn.feature_selection import SelectKBest, chi2
import lightgbm as lgb
import xgboost as xgb
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.decomposition import PCA
from sklearn.metrics import mean_squared_error

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [3]:
# !unzip -q "./gdrive/MyDrive/train-255.zip"

In [4]:
df_train=pd.read_csv('./train.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning:

Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.

In [5]:
df_train.head()

  channelGrouping      date  ... visitNumber visitStartTime
0  Organic Search  20160902  ...           1     1472830385
1  Organic Search  20160902  ...           1     1472880147
2  Organic Search  20160902  ...           1     1472865386
3  Organic Search  20160902  ...           1     1472881213
4  Organic Search  20160902  ...           2     1472822600

[5 rows x 12 columns]

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   channelGrouping       903653 non-null  object
 1   date                  903653 non-null  int64
 2   device                903653 non-null  object
 3   fullVisitorId         903653 non-null  object
 4   geoNetwork            903653 non-null  object
 5   sessionId             903653 non-null  object
 6   socialEngagementType  903653 non-null  object
 7   totals                903653 non-null  object
 8   trafficSource         903653 non-null  object
 9   visitId               903653 non-null  int64
 10  visitNumber           903653 non-null  int64
 11  visitStartTime        903653 non-null  int64
dtypes: int64(4), object(8)
memory usage: 82.7+ MB

In [7]:
columns = ['device', 'geoNetwork', 'totals', 'trafficSource']
def json_read(df):
    df = pd.read_csv(df, converters={column: json.loads for column in columns},dtype={'fullVisitorId': 'str'}) 
    for column in columns: 
        column_as_df = json_normalize(df[column]) 
        column_as_df.columns = [f"{column}.{subcolumn}" for subcolumn in column_as_df.columns] 
        df = df.drop(column, axis=1).merge(column_as_df, right_index=True, left_index=True)
    return df

In [8]:
df = json_read("./train.csv")

In [9]:
# df.to_csv('255-df-format.csv')

In [10]:
# df_file = pd.read_csv('255-df-format.csv')

In [11]:
# df_file.head()

In [12]:
# df_file.shape

In [13]:
df # 900000 rows with 55 columns

       channelGrouping  ...  trafficSource.campaignCode
0       Organic Search  ...                         NaN
1       Organic Search  ...                         NaN
2       Organic Search  ...                         NaN
3       Organic Search  ...                         NaN
4       Organic Search  ...                         NaN
...                ...  ...                         ...
903648          Social  ...                         NaN
903649          Social  ...                         NaN
903650          Social  ...                         NaN
903651          Social  ...                         NaN
903652          Social  ...                         NaN

[903653 rows x 55 columns]

In [14]:
df.isnull().sum()

channelGrouping                                           0
date                                                      0
fullVisitorId                                             0
sessionId                                                 0
socialEngagementType                                      0
visitId                                                   0
visitNumber                                               0
visitStartTime                                            0
device.browser                                            0
device.browserVersion                                     0
device.browserSize                                        0
device.operatingSystem                                    0
device.operatingSystemVersion                             0
device.isMobile                                           0
device.mobileDeviceBranding                               0
device.mobileDeviceModel                                  0
device.mobileInputSelector                                0
device.mobileDeviceInfo                                   0
device.mobileDeviceMarketingName                          0
device.flashVersion                                       0
device.language                                           0
device.screenColors                                       0
device.screenResolution                                   0
device.deviceCategory                                     0
geoNetwork.continent                                      0
geoNetwork.subContinent                                   0
geoNetwork.country                                        0
geoNetwork.region                                         0
geoNetwork.metro                                          0
geoNetwork.city                                           0
geoNetwork.cityId                                         0
geoNetwork.networkDomain                                  0
geoNetwork.latitude                                       0
geoNetwork.longitude                                      0
geoNetwork.networkLocation                                0
totals.visits                                             0
totals.hits                                               0
totals.pageviews                                        100
totals.bounces                                       453023
totals.newVisits                                     200593
totals.transactionRevenue                            892138
trafficSource.campaign                                    0
trafficSource.source                                      0
trafficSource.medium                                      0
trafficSource.keyword                                502929
trafficSource.adwordsClickInfo.criteriaParameters         0
trafficSource.isTrueDirect                           629648
trafficSource.referralPath                           572712
trafficSource.adwordsClickInfo.page                  882193
trafficSource.adwordsClickInfo.slot                  882193
trafficSource.adwordsClickInfo.gclId                 882092
trafficSource.adwordsClickInfo.adNetworkType         882193
trafficSource.adwordsClickInfo.isVideoAd             882193
trafficSource.adContent                              892707
trafficSource.campaignCode                           903652
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 55 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   channelGrouping                                    903653 non-null  object
 1   date                                               903653 non-null  int64
 2   fullVisitorId                                      903653 non-null  object
 3   sessionId                                          903653 non-null  object
 4   socialEngagementType                               903653 non-null  object
 5   visitId                                            903653 non-null  int64
 6   visitNumber                                        903653 non-null  int64
 7   visitStartTime                                     903653 non-null  int64
 8   device.browser                                     903653 non-null  object
 9   device.browserVersion                              903653 non-null  object
 10  device.browserSize                                 903653 non-null  object
 11  device.operatingSystem                             903653 non-null  object
 12  device.operatingSystemVersion                      903653 non-null  object
 13  device.isMobile                                    903653 non-null  bool
 14  device.mobileDeviceBranding                        903653 non-null  object
 15  device.mobileDeviceModel                           903653 non-null  object
 16  device.mobileInputSelector                         903653 non-null  object
 17  device.mobileDeviceInfo                            903653 non-null  object
 18  device.mobileDeviceMarketingName                   903653 non-null  object
 19  device.flashVersion                                903653 non-null  object
 20  device.language                                    903653 non-null  object
 21  device.screenColors                                903653 non-null  object
 22  device.screenResolution                            903653 non-null  object
 23  device.deviceCategory                              903653 non-null  object
 24  geoNetwork.continent                               903653 non-null  object
 25  geoNetwork.subContinent                            903653 non-null  object
 26  geoNetwork.country                                 903653 non-null  object
 27  geoNetwork.region                                  903653 non-null  object
 28  geoNetwork.metro                                   903653 non-null  object
 29  geoNetwork.city                                    903653 non-null  object
 30  geoNetwork.cityId                                  903653 non-null  object
 31  geoNetwork.networkDomain                           903653 non-null  object
 32  geoNetwork.latitude                                903653 non-null  object
 33  geoNetwork.longitude                               903653 non-null  object
 34  geoNetwork.networkLocation                         903653 non-null  object
 35  totals.visits                                      903653 non-null  object
 36  totals.hits                                        903653 non-null  object
 37  totals.pageviews                                   903553 non-null  object
 38  totals.bounces                                     450630 non-null  object
 39  totals.newVisits                                   703060 non-null  object
 40  totals.transactionRevenue                          11515 non-null   object
 41  trafficSource.campaign                             903653 non-null  object
 42  trafficSource.source                               903653 non-null  object
 43  trafficSource.medium                               903653 non-null  object
 44  trafficSource.keyword                              400724 non-null  object
 45  trafficSource.adwordsClickInfo.criteriaParameters  903653 non-null  object
 46  trafficSource.isTrueDirect                         274005 non-null  object
 47  trafficSource.referralPath                         330941 non-null  object
 48  trafficSource.adwordsClickInfo.page                21460 non-null   object
 49  trafficSource.adwordsClickInfo.slot                21460 non-null   object
 50  trafficSource.adwordsClickInfo.gclId               21561 non-null   object
 51  trafficSource.adwordsClickInfo.adNetworkType       21460 non-null   object
 52  trafficSource.adwordsClickInfo.isVideoAd           21460 non-null   object
 53  trafficSource.adContent                            10946 non-null   object
 54  trafficSource.campaignCode                         1 non-null       object
dtypes: bool(1), int64(4), object(50)
memory usage: 373.2+ MB

In [16]:
df['totals.pageviews'].mode()

0    1
dtype: object

In [17]:
columns_to_remove = [col for col in df.columns if df[col].nunique() == 1]
print("No. of variables with unique value: {}".format(len(columns_to_remove)))

No. of variables with unique value: 24

In [18]:
columns_to_remove

['socialEngagementType',
 'device.browserVersion',
 'device.browserSize',
 'device.operatingSystemVersion',
 'device.mobileDeviceBranding',
 'device.mobileDeviceModel',
 'device.mobileInputSelector',
 'device.mobileDeviceInfo',
 'device.mobileDeviceMarketingName',
 'device.flashVersion',
 'device.language',
 'device.screenColors',
 'device.screenResolution',
 'geoNetwork.cityId',
 'geoNetwork.latitude',
 'geoNetwork.longitude',
 'geoNetwork.networkLocation',
 'totals.visits',
 'totals.bounces',
 'totals.newVisits',
 'trafficSource.adwordsClickInfo.criteriaParameters',
 'trafficSource.isTrueDirect',
 'trafficSource.adwordsClickInfo.isVideoAd',
 'trafficSource.campaignCode']

In [19]:
for col in columns_to_remove:
    if set(['not available in demo dataset']) ==  set(df[col].unique()): continue
    print(col, df[col].dtypes, df[col].unique())

socialEngagementType object ['Not Socially Engaged']
totals.visits object ['1']
totals.bounces object ['1' nan]
totals.newVisits object ['1' nan]
trafficSource.isTrueDirect object [nan True]
trafficSource.adwordsClickInfo.isVideoAd object [nan False]
trafficSource.campaignCode object [nan '11251kjhkvahf']

In [20]:
# Creating another copy for filling missing values

In [21]:
df_1 = df.copy()

In [22]:
df_1.head()

  channelGrouping      date  ... trafficSource.adContent trafficSource.campaignCode
0  Organic Search  20160902  ...                     NaN                        NaN
1  Organic Search  20160902  ...                     NaN                        NaN
2  Organic Search  20160902  ...                     NaN                        NaN
3  Organic Search  20160902  ...                     NaN                        NaN
4  Organic Search  20160902  ...                     NaN                        NaN

[5 rows x 55 columns]

In [23]:
df_1['totals.pageviews'].fillna(1, inplace=True) # mode of page views is 1
df_1['totals.newVisits'].fillna(0, inplace=True)
df_1['totals.bounces'].fillna(0, inplace=True) 
df_1["totals.transactionRevenue"].fillna(0.0, inplace=True)

In [24]:
#Changing objects to int
df_1['totals.pageviews'] = df_1['totals.pageviews'].astype(int)
df_1['totals.newVisits'] = df_1['totals.newVisits'].astype(int)
df_1['totals.bounces'] = df_1['totals.bounces'].astype(int)
df_1["totals.transactionRevenue"] = df_1["totals.transactionRevenue"].astype(float)

In [25]:
df_1['trafficSource.isTrueDirect'].fillna(False, inplace=True) 
df_1['trafficSource.adwordsClickInfo.isVideoAd'].fillna(True, inplace=True) # filling boolean with True

In [26]:
# df_1[df_1['geoNetwork.city'] == "(not available in demo dataset)"]['geoNetwork.city'] = np.nan
# df_1['geoNetwork.city'].fillna("NaN", inplace=True)

In [27]:
df_1.isnull().sum()

channelGrouping                                           0
date                                                      0
fullVisitorId                                             0
sessionId                                                 0
socialEngagementType                                      0
visitId                                                   0
visitNumber                                               0
visitStartTime                                            0
device.browser                                            0
device.browserVersion                                     0
device.browserSize                                        0
device.operatingSystem                                    0
device.operatingSystemVersion                             0
device.isMobile                                           0
device.mobileDeviceBranding                               0
device.mobileDeviceModel                                  0
device.mobileInputSelector                                0
device.mobileDeviceInfo                                   0
device.mobileDeviceMarketingName                          0
device.flashVersion                                       0
device.language                                           0
device.screenColors                                       0
device.screenResolution                                   0
device.deviceCategory                                     0
geoNetwork.continent                                      0
geoNetwork.subContinent                                   0
geoNetwork.country                                        0
geoNetwork.region                                         0
geoNetwork.metro                                          0
geoNetwork.city                                           0
geoNetwork.cityId                                         0
geoNetwork.networkDomain                                  0
geoNetwork.latitude                                       0
geoNetwork.longitude                                      0
geoNetwork.networkLocation                                0
totals.visits                                             0
totals.hits                                               0
totals.pageviews                                          0
totals.bounces                                            0
totals.newVisits                                          0
totals.transactionRevenue                                 0
trafficSource.campaign                                    0
trafficSource.source                                      0
trafficSource.medium                                      0
trafficSource.keyword                                502929
trafficSource.adwordsClickInfo.criteriaParameters         0
trafficSource.isTrueDirect                                0
trafficSource.referralPath                           572712
trafficSource.adwordsClickInfo.page                  882193
trafficSource.adwordsClickInfo.slot                  882193
trafficSource.adwordsClickInfo.gclId                 882092
trafficSource.adwordsClickInfo.adNetworkType         882193
trafficSource.adwordsClickInfo.isVideoAd                  0
trafficSource.adContent                              892707
trafficSource.campaignCode                           903652
dtype: int64

In [28]:
columns = [col for col in df_1.columns if df_1[col].nunique() > 1]
df_1 = df_1[columns]

In [29]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 35 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   channelGrouping                               903653 non-null  object
 1   date                                          903653 non-null  int64
 2   fullVisitorId                                 903653 non-null  object
 3   sessionId                                     903653 non-null  object
 4   visitId                                       903653 non-null  int64
 5   visitNumber                                   903653 non-null  int64
 6   visitStartTime                                903653 non-null  int64
 7   device.browser                                903653 non-null  object
 8   device.operatingSystem                        903653 non-null  object
 9   device.isMobile                               903653 non-null  bool
 10  device.deviceCategory                         903653 non-null  object
 11  geoNetwork.continent                          903653 non-null  object
 12  geoNetwork.subContinent                       903653 non-null  object
 13  geoNetwork.country                            903653 non-null  object
 14  geoNetwork.region                             903653 non-null  object
 15  geoNetwork.metro                              903653 non-null  object
 16  geoNetwork.city                               903653 non-null  object
 17  geoNetwork.networkDomain                      903653 non-null  object
 18  totals.hits                                   903653 non-null  object
 19  totals.pageviews                              903653 non-null  int64
 20  totals.bounces                                903653 non-null  int64
 21  totals.newVisits                              903653 non-null  int64
 22  totals.transactionRevenue                     903653 non-null  float64
 23  trafficSource.campaign                        903653 non-null  object
 24  trafficSource.source                          903653 non-null  object
 25  trafficSource.medium                          903653 non-null  object
 26  trafficSource.keyword                         400724 non-null  object
 27  trafficSource.isTrueDirect                    903653 non-null  bool
 28  trafficSource.referralPath                    330941 non-null  object
 29  trafficSource.adwordsClickInfo.page           21460 non-null   object
 30  trafficSource.adwordsClickInfo.slot           21460 non-null   object
 31  trafficSource.adwordsClickInfo.gclId          21561 non-null   object
 32  trafficSource.adwordsClickInfo.adNetworkType  21460 non-null   object
 33  trafficSource.adwordsClickInfo.isVideoAd      903653 non-null  bool
 34  trafficSource.adContent                       10946 non-null   object
dtypes: bool(3), float64(1), int64(7), object(24)
memory usage: 223.2+ MB

In [30]:
df_1.isnull().sum()

channelGrouping                                      0
date                                                 0
fullVisitorId                                        0
sessionId                                            0
visitId                                              0
visitNumber                                          0
visitStartTime                                       0
device.browser                                       0
device.operatingSystem                               0
device.isMobile                                      0
device.deviceCategory                                0
geoNetwork.continent                                 0
geoNetwork.subContinent                              0
geoNetwork.country                                   0
geoNetwork.region                                    0
geoNetwork.metro                                     0
geoNetwork.city                                      0
geoNetwork.networkDomain                             0
totals.hits                                          0
totals.pageviews                                     0
totals.bounces                                       0
totals.newVisits                                     0
totals.transactionRevenue                            0
trafficSource.campaign                               0
trafficSource.source                                 0
trafficSource.medium                                 0
trafficSource.keyword                           502929
trafficSource.isTrueDirect                           0
trafficSource.referralPath                      572712
trafficSource.adwordsClickInfo.page             882193
trafficSource.adwordsClickInfo.slot             882193
trafficSource.adwordsClickInfo.gclId            882092
trafficSource.adwordsClickInfo.adNetworkType    882193
trafficSource.adwordsClickInfo.isVideoAd             0
trafficSource.adContent                         892707
dtype: int64

In [31]:
# Removing columns with high null values 
df_1.drop(columns=['trafficSource.adContent', 'trafficSource.adwordsClickInfo.adNetworkType', 'trafficSource.adwordsClickInfo.gclId',
                'trafficSource.adwordsClickInfo.slot', 'trafficSource.adwordsClickInfo.page', 'trafficSource.referralPath',
                 'trafficSource.keyword'], inplace = True)

In [32]:
# for col in df_1.columns:
#     if len(df_1[col].unique()) == 1:
#         df_1.drop(col,inplace=True,axis=1)

In [33]:
print(df.shape)
print(df_1.shape)

(903653, 55)
(903653, 28)

In [34]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 28 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   channelGrouping                           903653 non-null  object
 1   date                                      903653 non-null  int64
 2   fullVisitorId                             903653 non-null  object
 3   sessionId                                 903653 non-null  object
 4   visitId                                   903653 non-null  int64
 5   visitNumber                               903653 non-null  int64
 6   visitStartTime                            903653 non-null  int64
 7   device.browser                            903653 non-null  object
 8   device.operatingSystem                    903653 non-null  object
 9   device.isMobile                           903653 non-null  bool
 10  device.deviceCategory                     903653 non-null  object
 11  geoNetwork.continent                      903653 non-null  object
 12  geoNetwork.subContinent                   903653 non-null  object
 13  geoNetwork.country                        903653 non-null  object
 14  geoNetwork.region                         903653 non-null  object
 15  geoNetwork.metro                          903653 non-null  object
 16  geoNetwork.city                           903653 non-null  object
 17  geoNetwork.networkDomain                  903653 non-null  object
 18  totals.hits                               903653 non-null  object
 19  totals.pageviews                          903653 non-null  int64
 20  totals.bounces                            903653 non-null  int64
 21  totals.newVisits                          903653 non-null  int64
 22  totals.transactionRevenue                 903653 non-null  float64
 23  trafficSource.campaign                    903653 non-null  object
 24  trafficSource.source                      903653 non-null  object
 25  trafficSource.medium                      903653 non-null  object
 26  trafficSource.isTrueDirect                903653 non-null  bool
 27  trafficSource.adwordsClickInfo.isVideoAd  903653 non-null  bool
dtypes: bool(3), float64(1), int64(7), object(17)
memory usage: 174.9+ MB

In [35]:
# Converting to float
# df_1['fullVisitorId'] = df_1['fullVisitorId'].astype(float)
# df_1['sessionId'] = df_1['sessionId'].astype(float)

In [36]:
# df_1["date"] = pd.to_datetime(df_1["date"], format="%Y%m%d") # seting the column as pandas datetime
# df_1["weekday"] = df_1['date'].dt.weekday #extracting week day
# df_1["day"] = df_1['date'].dt.day # extracting day
# df_1["month"] = df_1['date'].dt.month # extracting day
# df_1["year"] = df_1['date'].dt.year # extracting day

In [37]:
df_1.shape

(903653, 28)

In [38]:
# Copy into another dataframe to complete feature Engineering

In [39]:
df_2 = df_1.copy()

In [40]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 28 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   channelGrouping                           903653 non-null  object
 1   date                                      903653 non-null  int64
 2   fullVisitorId                             903653 non-null  object
 3   sessionId                                 903653 non-null  object
 4   visitId                                   903653 non-null  int64
 5   visitNumber                               903653 non-null  int64
 6   visitStartTime                            903653 non-null  int64
 7   device.browser                            903653 non-null  object
 8   device.operatingSystem                    903653 non-null  object
 9   device.isMobile                           903653 non-null  bool
 10  device.deviceCategory                     903653 non-null  object
 11  geoNetwork.continent                      903653 non-null  object
 12  geoNetwork.subContinent                   903653 non-null  object
 13  geoNetwork.country                        903653 non-null  object
 14  geoNetwork.region                         903653 non-null  object
 15  geoNetwork.metro                          903653 non-null  object
 16  geoNetwork.city                           903653 non-null  object
 17  geoNetwork.networkDomain                  903653 non-null  object
 18  totals.hits                               903653 non-null  object
 19  totals.pageviews                          903653 non-null  int64
 20  totals.bounces                            903653 non-null  int64
 21  totals.newVisits                          903653 non-null  int64
 22  totals.transactionRevenue                 903653 non-null  float64
 23  trafficSource.campaign                    903653 non-null  object
 24  trafficSource.source                      903653 non-null  object
 25  trafficSource.medium                      903653 non-null  object
 26  trafficSource.isTrueDirect                903653 non-null  bool
 27  trafficSource.adwordsClickInfo.isVideoAd  903653 non-null  bool
dtypes: bool(3), float64(1), int64(7), object(17)
memory usage: 174.9+ MB

In [41]:
# Visit time
df_2['diff_visitId_time'] = df_2['visitId'] - df_2['visitStartTime']
df_2['diff_visitId_time'] = (df_2['diff_visitId_time'] != 0).astype(int)
del df_2['visitId']

In [42]:
# Visit hour
df_2['formated_visitStartTime'] = df_2['visitStartTime'].apply(
    lambda x: time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(x)))
df_2['formated_visitStartTime'] = pd.to_datetime(df_2['formated_visitStartTime'])
df_2['visit_hour'] = df_2['formated_visitStartTime'].apply(lambda x: x.hour)
 
del df_2['visitStartTime']
del df_2['formated_visitStartTime']

In [43]:
# date
format_str = '%Y%m%d' 
df_2['formated_date'] = df_2['date'].apply(lambda x: datetime.strptime(str(x), format_str))
df_2['month'] = df_2['formated_date'].apply(lambda x:x.month)
df_2['quarter_month'] = df_2['formated_date'].apply(lambda x:x.day//8)
df_2['day'] = df_2['formated_date'].apply(lambda x:x.day)
df_2['weekday'] = df_2['formated_date'].apply(lambda x:x.weekday())
 
del df_2['date']

In [44]:
# total hits
df_2['totals.hits'] = df_2['totals.hits'].astype(int)
df_2['mean_hits_per_day'] = df_2.groupby(['day'])['totals.hits'].transform('mean')
del  df_2['day']

In [45]:
num_cols = ["totals.hits", "totals.pageviews", "visitNumber", 'totals.bounces',  'totals.newVisits']    
for col in num_cols:
    df_2[col] = df_2[col].astype(float)

In [46]:
# Removing unwanted id columns
df_2 = df_2.drop(['fullVisitorId','sessionId'], axis = 1)

In [47]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 30 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   channelGrouping                           903653 non-null  object
 1   visitNumber                               903653 non-null  float64
 2   device.browser                            903653 non-null  object
 3   device.operatingSystem                    903653 non-null  object
 4   device.isMobile                           903653 non-null  bool
 5   device.deviceCategory                     903653 non-null  object
 6   geoNetwork.continent                      903653 non-null  object
 7   geoNetwork.subContinent                   903653 non-null  object
 8   geoNetwork.country                        903653 non-null  object
 9   geoNetwork.region                         903653 non-null  object
 10  geoNetwork.metro                          903653 non-null  object
 11  geoNetwork.city                           903653 non-null  object
 12  geoNetwork.networkDomain                  903653 non-null  object
 13  totals.hits                               903653 non-null  float64
 14  totals.pageviews                          903653 non-null  float64
 15  totals.bounces                            903653 non-null  float64
 16  totals.newVisits                          903653 non-null  float64
 17  totals.transactionRevenue                 903653 non-null  float64
 18  trafficSource.campaign                    903653 non-null  object
 19  trafficSource.source                      903653 non-null  object
 20  trafficSource.medium                      903653 non-null  object
 21  trafficSource.isTrueDirect                903653 non-null  bool
 22  trafficSource.adwordsClickInfo.isVideoAd  903653 non-null  bool
 23  diff_visitId_time                         903653 non-null  int64
 24  visit_hour                                903653 non-null  int64
 25  formated_date                             903653 non-null  datetime64[ns]
 26  month                                     903653 non-null  int64
 27  quarter_month                             903653 non-null  int64
 28  weekday                                   903653 non-null  int64
 29  mean_hits_per_day                         903653 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(7), int64(5), object(14)
memory usage: 188.7+ MB

In [48]:
df_2.head()

  channelGrouping  visitNumber  ... weekday mean_hits_per_day
0  Organic Search          1.0  ...       4          4.638119
1  Organic Search          1.0  ...       4          4.638119
2  Organic Search          1.0  ...       4          4.638119
3  Organic Search          1.0  ...       4          4.638119
4  Organic Search          2.0  ...       4          4.638119

[5 rows x 30 columns]

In [49]:
# Copy for Encoding categorical features
df_3 = df_2.copy()

In [50]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 30 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   channelGrouping                           903653 non-null  object
 1   visitNumber                               903653 non-null  float64
 2   device.browser                            903653 non-null  object
 3   device.operatingSystem                    903653 non-null  object
 4   device.isMobile                           903653 non-null  bool
 5   device.deviceCategory                     903653 non-null  object
 6   geoNetwork.continent                      903653 non-null  object
 7   geoNetwork.subContinent                   903653 non-null  object
 8   geoNetwork.country                        903653 non-null  object
 9   geoNetwork.region                         903653 non-null  object
 10  geoNetwork.metro                          903653 non-null  object
 11  geoNetwork.city                           903653 non-null  object
 12  geoNetwork.networkDomain                  903653 non-null  object
 13  totals.hits                               903653 non-null  float64
 14  totals.pageviews                          903653 non-null  float64
 15  totals.bounces                            903653 non-null  float64
 16  totals.newVisits                          903653 non-null  float64
 17  totals.transactionRevenue                 903653 non-null  float64
 18  trafficSource.campaign                    903653 non-null  object
 19  trafficSource.source                      903653 non-null  object
 20  trafficSource.medium                      903653 non-null  object
 21  trafficSource.isTrueDirect                903653 non-null  bool
 22  trafficSource.adwordsClickInfo.isVideoAd  903653 non-null  bool
 23  diff_visitId_time                         903653 non-null  int64
 24  visit_hour                                903653 non-null  int64
 25  formated_date                             903653 non-null  datetime64[ns]
 26  month                                     903653 non-null  int64
 27  quarter_month                             903653 non-null  int64
 28  weekday                                   903653 non-null  int64
 29  mean_hits_per_day                         903653 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(7), int64(5), object(14)
memory usage: 188.7+ MB

In [51]:
df_3.head()

  channelGrouping  visitNumber  ... weekday mean_hits_per_day
0  Organic Search          1.0  ...       4          4.638119
1  Organic Search          1.0  ...       4          4.638119
2  Organic Search          1.0  ...       4          4.638119
3  Organic Search          1.0  ...       4          4.638119
4  Organic Search          2.0  ...       4          4.638119

[5 rows x 30 columns]

In [52]:
cat_cols = ["channelGrouping", "device.browser", 
             "device.operatingSystem", 'device.isMobile','device.deviceCategory',
            "geoNetwork.city", "geoNetwork.continent", 
            "geoNetwork.country", "geoNetwork.metro",
            "geoNetwork.networkDomain", "geoNetwork.region", 
            "geoNetwork.subContinent", 
             "trafficSource.campaign",
            "trafficSource.medium", 
             "trafficSource.source",
            'trafficSource.adwordsClickInfo.isVideoAd', 'trafficSource.isTrueDirect']

In [53]:
# Label encoding

In [54]:
for col in cat_cols:
    # print(col)
    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(df_3[col].values.astype('str')))
    df_3[col] = lbl.transform(list(df_3[col].values.astype('str')))

In [55]:
# Converting to numerical columns

In [56]:
num_cols = ["totals.hits", "totals.pageviews", 
            "visitNumber", 
            'totals.bounces',  'totals.newVisits']    

for col in num_cols:
    df_3[col] = df_3[col].astype(float)

In [57]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903653 entries, 0 to 903652
Data columns (total 30 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   channelGrouping                           903653 non-null  int64
 1   visitNumber                               903653 non-null  float64
 2   device.browser                            903653 non-null  int64
 3   device.operatingSystem                    903653 non-null  int64
 4   device.isMobile                           903653 non-null  int64
 5   device.deviceCategory                     903653 non-null  int64
 6   geoNetwork.continent                      903653 non-null  int64
 7   geoNetwork.subContinent                   903653 non-null  int64
 8   geoNetwork.country                        903653 non-null  int64
 9   geoNetwork.region                         903653 non-null  int64
 10  geoNetwork.metro                          903653 non-null  int64
 11  geoNetwork.city                           903653 non-null  int64
 12  geoNetwork.networkDomain                  903653 non-null  int64
 13  totals.hits                               903653 non-null  float64
 14  totals.pageviews                          903653 non-null  float64
 15  totals.bounces                            903653 non-null  float64
 16  totals.newVisits                          903653 non-null  float64
 17  totals.transactionRevenue                 903653 non-null  float64
 18  trafficSource.campaign                    903653 non-null  int64
 19  trafficSource.source                      903653 non-null  int64
 20  trafficSource.medium                      903653 non-null  int64
 21  trafficSource.isTrueDirect                903653 non-null  int64
 22  trafficSource.adwordsClickInfo.isVideoAd  903653 non-null  int64
 23  diff_visitId_time                         903653 non-null  int64
 24  visit_hour                                903653 non-null  int64
 25  formated_date                             903653 non-null  datetime64[ns]
 26  month                                     903653 non-null  int64
 27  quarter_month                             903653 non-null  int64
 28  weekday                                   903653 non-null  int64
 29  mean_hits_per_day                         903653 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(22)
memory usage: 206.8 MB

In [58]:
df_3.head()

   channelGrouping  visitNumber  ...  weekday  mean_hits_per_day
0                4          1.0  ...        4           4.638119
1                4          1.0  ...        4           4.638119
2                4          1.0  ...        4           4.638119
3                4          1.0  ...        4           4.638119
4                4          2.0  ...        4           4.638119

[5 rows x 30 columns]

In [59]:
# http://blog.davidkaleko.com/feature-engineering-cyclical-features.html
# df_3['visit_hour_sin'] = np.sin(df_3.visit_hour*(2.*np.pi/24))
# df_3['visit_hour_cos'] = np.cos(df_3.visit_hour*(2.*np.pi/24))
# df_3['month_sin'] = np.sin((df_3.month-1)*(2.*np.pi/12))
# df_3['month_cos'] = np.cos((df_3.month-1)*(2.*np.pi/12))

In [60]:
# df_3['weekday_sin'] = np.sin((df_3.weekday-1)*(2.*np.pi/7))
# df_3['weekday_cos'] = np.cos((df_3.weekday-1)*(2.*np.pi/7))

In [61]:
# del df_3['month']
# del df_3['visit_hour']

In [62]:
# del df_3['weekday']

In [63]:
df_3.head()

   channelGrouping  visitNumber  ...  weekday  mean_hits_per_day
0                4          1.0  ...        4           4.638119
1                4          1.0  ...        4           4.638119
2                4          1.0  ...        4           4.638119
3                4          1.0  ...        4           4.638119
4                4          2.0  ...        4           4.638119

[5 rows x 30 columns]

In [64]:
# cat_cols_1 = ['quarter_month','month','weekday','visit_hour']

In [65]:
# for col in cat_cols_1:
#     # print(col)
#     lbl = preprocessing.LabelEncoder()
#     lbl.fit(list(df_2[col].values.astype('str')))
#     df_2[col] = lbl.transform(list(df_2[col].values.astype('str')))

In [66]:
# df_2.info()

In [67]:
# plt.rcParams["figure.figsize"] = (30,30)

In [68]:
# sns.heatmap(df_3.corr(), annot = True)

In [69]:
# Feature Engineering completed

In [70]:
# Trying dimensionality reduction technique

In [71]:
df_3.head()

   channelGrouping  visitNumber  ...  weekday  mean_hits_per_day
0                4          1.0  ...        4           4.638119
1                4          1.0  ...        4           4.638119
2                4          1.0  ...        4           4.638119
3                4          1.0  ...        4           4.638119
4                4          2.0  ...        4           4.638119

[5 rows x 30 columns]

In [72]:
df_3.shape

(903653, 30)

In [73]:
df_4 = df_3.copy()

In [74]:
df_4.head()

In [75]:
# Sort using date
df_4 = df_4.set_index(df_4['formated_date'])
df_4 = df_4.sort_index()

In [76]:
# df_4.head()

In [77]:
# Remove date column
df_4 = df_4.drop(['formated_date','totals.transactionRevenue'],axis=1)

In [78]:
# df_4.info()

In [79]:
# df_4.head()

In [80]:
pca = PCA(0.90)

In [81]:
pca.fit_transform(df_4)

In [82]:
# print(pd.DataFrame(pca.components_,columns=df_4.columns))
# No reduction in number of columns

In [83]:
# df_4

In [84]:
# df_5 = pd.DataFrame(df_4)

In [85]:
# df_5.head()

In [86]:
# Dividing into training and testing

In [87]:
X = df_3.copy()

In [88]:
# X.shape

In [89]:
# X.head()

In [90]:
# X.info()

In [91]:
# X_new = X.drop('date', axis = 1)

In [92]:
from datetime import datetime, date

In [93]:
X = X.set_index(X['formated_date'])
X = X.sort_index()

In [94]:
# min(X['formated_date'])

In [95]:
# max(X['formated_date'])

In [96]:
train = X['2016-08-01':'2017-05-31']
test  = X['2017-05-31':]

In [97]:
print(train.shape)
print(test.shape)

(765707, 30)
(140238, 30)

In [98]:
X_train = train.drop(['formated_date','totals.transactionRevenue'], axis = 1)
X_test = test.drop(['formated_date','totals.transactionRevenue'], axis=1)

In [99]:
print(X_train.shape)
print(X_test.shape)

(765707, 28)
(140238, 28)

In [100]:
y_train = np.log1p(train["totals.transactionRevenue"].values)
y_test = np.log1p(test["totals.transactionRevenue"].values)

In [101]:
print(y_train.shape)
print(y_test.shape)

(765707,)
(140238,)

In [102]:
# # Dropping date and target column
# X_train = df_5.iloc[0:722922,:]
# X_test = df_5.iloc[722922:,:]

In [103]:
# print(X_train.shape)
# print(X_test.shape)

In [104]:
# X_train.head()

In [105]:
# out = test['totals.transactionRevenue'].values

In [106]:
# output = pd.DataFrame(out)

In [107]:
# output.columns = ['ActualRevenue']

In [108]:
# output.head()

In [109]:
# #  transaction revenue
# y = np.log1p(df_3["totals.transactionRevenue"].values)

In [110]:
# y.shape

In [111]:
# y_train = y[0:722922]
# y_test = y[722922:]

In [112]:
# print(y_train.shape)
# print(y_test.shape)

In [113]:
# pca.explained_variance_

In [114]:
# data_dmatrix = xgb.DMatrix(data=X_train,label=y_train)

In [115]:
# cv_results

In [116]:
# xg_reg = xgb.train(params=params, dtrain=data_dmatrix, num_boost_round=50)

In [117]:
# xgb_val_data = xgb.DMatrix(X_test, y_test)

In [118]:
# y_pred = xg_reg.predict(xgb_val_data)

In [119]:
# print(mean_squared_error(y_test, y_pred, squared=False))

In [120]:
# params = {"objective":"reg:squarederror",'colsample_bytree': 0.3,'learning_rate': 0.3,
#                 'max_depth': 5, 'alpha': 10}

# cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
#                     num_boost_round=50,early_stopping_rounds=10,metrics="rmse", as_pandas=True, seed=123)

In [121]:
X_train.shape

(765707, 28)

In [122]:
from sklearn.preprocessing import StandardScaler

In [123]:
scaler = StandardScaler()

In [124]:
X_scale = scaler.fit_transform(X_train)

In [125]:
X_test_scale = scaler.fit_transform(X_test)

In [126]:
from sklearn.linear_model import RidgeCV
from sklearn.svm import LinearSVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import StackingRegressor

In [127]:
# estimators = [
#      ('lr', RidgeCV()),
#      ('svr', LinearSVR(random_state=42))
#  ]
# reg = StackingRegressor(estimators=estimators,final_estimator=RandomForestRegressor(n_estimators=10,random_state=42))

In [128]:
# reg.fit(X_scale, y_train)

In [129]:
# y_pred = reg.predict(X_test_scale)

In [130]:
# print(mean_squared_error(y_test, y_pred, squared=False))

In [131]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR

In [132]:
print(X_train.shape)
print(y_train.shape)

(765707, 28)
(765707,)

In [ ]:
m = SVR()
m.fit(X_scale, y_train)
y_pred = m.predict(X_test_scale)

In [ ]:
mean_squared_error(y_test, y_pred)

In [ ]:
# param_grid = {'C': [0.1, 1, 10, 100, 1000], 
#               'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
#               'kernel': ['rbf']} 
  
# grid = GridSearchCV(SVR(), param_grid, verbose = 3)
  
# # fitting the model for grid search
# grid.fit(X_train, y_train)